/* Vars */
//form-control
$form-control-background-color = #fff
$form-control-border-color = #82807c
$form-control-border-radius = 0
$form-control-height = 34px
//success,error,warning
$success-border-color = #3c763d
$warning-border-color = #8a6d3b
$error-border-color = #a94442
$success-color = #3c763d
$warning-color = #8a6d3b
$error-color = #a94442
//btn
$btn-border-radius = 0
//btn-custome
$btn-custome-background = url(../images/icons.png)
$btn-custome-color = #fff
//login-exemple
$input-with-icon-background = #fff
$input-with-icon-glyphicon-color = #606060
$input-with-icon-font-size = 12px
$btn-full-background-color = #d16036
$btn-full-color = #fff
$btn-full-hover-color = #fff
$btn-full-hover-background-color = #EB7043
//.need
$need-color = #a94442
//.callout-error
$callout-error-background-color = #fdf7f7
$callout-error-color = #d9534f
$callout-error-border-color = #d9534f
//.step-flex
$step-flex-li-width = 225px