// Matter 
.matter
  .container
    .row
      .col-md-6
        a(href="app1-new.html").btn-custome.btn-custome-success 
          i.fa.fa-plus
          |创建应用
      .col-md-6
        a(href="#").btn-custome.btn-custome-primary.pull-right
          i.fa.fa-cloud-download
          |下载
    .row
      .col-md-12
        .widget
          .widget-head.clearfix
            .pull-left
              |我的应用
          .widget-content
            table.table.table-bordered.table-custome
              thead
                tr 
                  th 应用名称
                  th(colspan="2") 昨日新增
                  th(colspan="2") 昨日活跃
                  th(colspan="2") 昨日收入
                  th(colspan="2") 操作
              tbody
                tr 
                  td 海战风云
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 
                    a(href="#") 查看数据
                  td 
                    a(href="app-edit.html") 管理
                tr 
                  td 海战风云
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 
                    a(href="#") 查看数据
                  td 
                    a(href="app-edit.html") 管理
                tr 
                  td 海战风云
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 
                    a(href="#") 查看数据
                  td 
                    a(href="app-edit.html") 管理
                tr 
                  td 海战风云
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 
                    a(href="#") 查看数据
                  td 
                    a(href="app-edit.html") 管理
                tr 
                  td 海战风云
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 78798979
                  td 同比
                    br
                    |环比
                  td 
                    a(href="#") 查看数据
                  td 
                    a(href="app-edit.html") 管理
            .widget-foot.clearfix
              ul.pagination-custome.clearfix.pull-right
                li
                  a(href="#") 
                    i.fa.fa-caret-left
                li 1/5
                li
                  a(href="#") 
                    i.fa.fa-caret-right

// Matter end

