// Footer starts
.footer
  .container
    .row
      .con-md-12
        //Copy info
        p Copyright © 2005 - 2013 WiSTONE. All Rights Reserved. 顽石互动(北京)网络科技有限公司 版权所有
        p 网络文化经营许可证 京网文[2013]0547-174号　京ICP备09088692号-3　京ICP证100385号　京公网安备110105008074
// Footer ends