// Header starts
.header
  .container
    .row
      // Logo section
      .col-md-4
        // Logo
        .logo
          img(src="#{BASEURL}images/logo.png")
      .col-md-6.col-md-offset-2
        //Top tool bar
        ul.top-tool-bar.clearfix
          li 
            a(href="#") SDK
          li 
            a(href="#") 文档
          li 
            a(href="#") 消息(5)
          li 
            a(href="#") 账号
          li.account 
            |你好，
            span.account Juliet
            a(href="#") 退出
// Header ends