// Matter 
.matter
  .container
    .row
      .col-md-6
        a(href="package-channel-new.html").btn-custome.btn-custome-success 
          i.fa.fa-plus
          |添加渠道
    .row
      .col-md-12
        .widget
          .widget-head.clearfix
            .pull-left
              |分包渠道列表
          .widget-content
            table.table.table-bordered.table-custome
              thead
                tr 
                  th 渠道名称
                  th 渠道ID
                  th 渠道比例
                  th 操作
              tbody
                tr 
                  td unknown
                  td 未知渠道  
                  td 0
                  td (无法编辑和删除)
                    
                tr 
                  td 360
                  td 360市场 
                  td 30% 
                  td 
                    a(href="package-channel-edit.html").btn.btn-primary.btn-sm 编辑
                    button(data-toggle="modal",data-target="#deleteChannel").btn.btn-danger.btn-sm 删除
                tr 
                  td app_store  
                  td AppStore 
                  td 30% 
                  td 
                    a(href="package-channel-edit.html").btn.btn-primary.btn-sm 编辑
                    button(data-toggle="modal",data-target="#deleteChannel").btn.btn-danger.btn-sm 删除
                tr 
                  td 91_android    
                  td 91市场(Android) 
                  td 30%   
                  td 
                    a(href="package-channel-edit.html").btn.btn-primary.btn-sm 编辑
                    button(data-toggle="modal",data-target="#deleteChannel").btn.btn-danger.btn-sm 删除
                tr 
                  td 91_ios     
                  td 91市场(iOS)   
                  td 30%
                  td 
                    a(href="package-channel-edit.html").btn.btn-primary.btn-sm 编辑
                    button(data-toggle="modal",data-target="#deleteChannel").btn.btn-danger.btn-sm 删除
            .widget-foot.clearfix
              ul.pagination-custome.clearfix.pull-right
                li
                  a(href="#") 
                    i.fa.fa-caret-left
                li 1/5
                li
                  a(href="#") 
                    i.fa.fa-caret-right

// Matter end