// Matter 
.matter
  .container
    .row
      .col-md-12
        .widget
          .widget-head.clearfix
            .pull-left
              |图表
              span.ml5(data-toggle="tooltip",data-placement="right",title="这是什么").tooltipbox
                i.fa.fa-question-circle
            .widget-icons.pull-right
              a(href="#").wminimize
                i.fa.fa-chevron-up
              a(href="#").wdownload
                i.fa.fa-download
          .widget-content
            .padd
              img(src="images/chart-img.jpg").img-responsive
              hr
              button.btn.btn-default
                i.fa.fa-signal
              button.btn.btn-default
                i.fa.fa-list-ul
              ul.pagination-custome.clearfix.pull-right
                li
                  a(href="#") 
                    i.fa.fa-caret-left
                li 1/5
                li
                  a(href="#") 
                    i.fa.fa-caret-right
// Matter end
