// Sidebar 
.sidebar.clearfix 
  .sidebar-dropdown
    a(href="#") 导航
  // Sidebar navigation
  ul#nav(style="display:block")
    // Main menu with font awesome icon
    li.has_sub 
      a(href="#")
        i.fa.fa-wrench
        |游戏玩家
        span.pull-right
          i.fa.fa-caret-right
      ul
        li
          a(href="#") 
            i.fa.fa-caret-right 
            |新增玩家
          a(href="#") 
            i.fa.fa-caret-right
            |活跃玩家
    li
      a(href="#")
        i.fa.fa-wrench
        |在线分析
        span.pull-right
          i.fa.fa-caret-right
    li
      a(href="#")
        i.fa.fa-wrench
        |等级分析  
        span.pull-right
          i.fa.fa-caret-right
    li 
      a(href="#")
        i.fa.fa-wrench
        |任务分析   
        span.pull-right
          i.fa.fa-caret-right
    li 
      a(href="#")
        i.fa.fa-wrench
        |收入分析  
        span.pull-right
          i.fa.fa-caret-right
    li 
      a(href="#")
        i.fa.fa-wrench
        |虚拟消费 
        span.pull-right
          i.fa.fa-caret-right
// Sidebar ends